<div class="player-left">
  <div class="button-group">
    <div class="btn-item" (click)="handleMediaBack()">
      <free-icon icon="step-backward"></free-icon>
    </div>
    <div class="btn-item center" (click)="handleMediaPlay()">
      <free-icon icon="{{isPlay?'pause':'play'}}" [style.marginLeft]="isPlay?'0px':'3px'"></free-icon>
    </div>
    <div class="btn-item"  (click)="handleMediaNext()" >
      <free-icon icon="step-forward"></free-icon>
    </div>
  </div>
</div>
<div class="player-body">
  <div class="play">
    <img #img [src]="media.blurPicUrl" class="play-pic" (error)="updateUrl(img)" alt="">
      <div class="play-content">
        <p class="play-text">
          {{media.name}} <span>-{{media.artistsName}}</span>
        </p>
        <span class="play-times">
          {{MediaTime.currentTime}}/{{MediaTime.duration}}
        </span>
        <div class="play-range">
          <span class="range-value">
            <i class="progress" [style.width]="progressWidth+'%'"></i>
          </span>
        </div>
      </div>
  </div>
  <div class="play-right">
    <ul class="button-group">
      <li class="button-item btn-heart">
        <free-icon icon="heart-o"></free-icon>
      </li>
      <li class="button-item">
        <!--volume-off-->
        <free-icon icon="volume-down"></free-icon>
      </li>
      <li class="button-item">
        <!--random-->
        <free-icon icon="retweet"></free-icon>
      </li>
      <li class="button-item">
        <free-icon icon="bars"></free-icon>
      </li>
    </ul>
  </div>
</div>

