<div class="player-left">
  <div class="button-group">
    <div class="btn-item">
      <free-icon icon="step-backward"></free-icon>
    </div>
    <div class="btn-item center" (click)="mediaPlay(media)">
      <free-icon icon="pause"></free-icon>
    </div>
    <div class="btn-item">
      <free-icon icon="step-forward"></free-icon>
    </div>
  </div>
</div>
<div class="player-body">
  <div class="play">
    <img src="http://iph.href.lu/65x65" class="play-pic" alt="">
      <div class="play-content">
        <p class="play-text">
          火星人来过 <span>-薛之谦</span>
        </p>
        <span class="play-times">
          01:30/04:20
        </span>
        <div class="play-range">
          <span class="range-value"></span>
        </div>
      </div>
    <!--<audio #media src="">-->
      <!--Your browser does not support the audio element.-->
    <!--</audio>-->
  </div>
</div>

