@charset "utf-8";
.player-left {
  float: left;
  display: block;
  width: 230px;
  height: 65px;
  border-top: 1px solid #E8EBEB;
  .button-group{
    height:65px;
    line-height:65px;
    width: 158px;
    margin: 0 auto;
    vertical-align: bottom;
    .btn-item{
      cursor: pointer;
      font-size: .75rem;
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height:32px;
      border-radius: 50%;
      border:2px solid #2CAE6F;
      color: #2CAE6F;
      text-align: center;
      &:hover{
        border-color: #2A975A;
        color: #2A975A;
      }
    }
    .center{
      margin:0 15px;
      width: 40px;
      vertical-align: middle;
      height: 40px;
      font-size: 1rem;
      line-height:40px;
      position: relative;
    }
  }
}

.player-body {
  box-shadow: 0 -5px 5px rgba(0,0,0,.03);
  float: left;
  width: 1040px;
  height: 65px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  .play{
    height: 65px;
    //width: 650px;
    img{
      width: 65px;
      height:65px;
      float: left;
      display: block;
    }
    .play-content{
      float: left;
      position: relative;
      width: 770px;
      height:65px;
      padding:10px 0 10px 16px;
      box-sizing: border-box;
      .play-text{
        margin: 0;
        font-weight: normal;
        display: block;
        float: left;
        font-size: .78rem;
        span{
          color: #666;
          font-size: .68rem;
        }
      }
      .play-times{
        color: #666;
        font-size: .7rem;
        float: right;
      }
      .play-range{
        bottom:10px;
        left: 16px;
        right:0;
        height:10px;
        line-height:10px;
        position: absolute;
        .range-value{
          display: block;
          width: 100%;
          height: 2px;
          overflow: hidden;
          background-color: #e1e1e1;
          i{
            display: block;
            width: 100%;
            transition:width .3s;
            height: 2px;
            background: linear-gradient(45deg, #31C27C 0%,#05abe0 100%);
          }
        }
      }
    }
  }
  .play-right{
    position: absolute;
    right:46px;
    .button-group{
      width: 100%;
      margin: 0;
      padding:0;
      height:30px;
      line-height:30px;
      list-style:none;
      .button-item{
        float: left;
        cursor: pointer;
        width: 35px;
        text-align:center;
        font-size: 1.2rem;
        transition:all .1s;
        color: #333;
        &:hover{
          color: #35C17B;
        }
      }
    }
  }
}

