<div class="global-header">
  <div class="search">
    <div class="input-search">
      <!---->
      <input #searchInput type="text" class="input" placeholder="搜索" [formControl]="searchValue" (keyup.enter)="goSearch(searchInput.value)" (blur)="inputBlur()" (focus)="inputFocus()">
      <i (click)="goSearch(searchInput.value)">
        <free-icon icon="search"></free-icon>
      </i>
    </div>
    <div class="search-suggest" [hidden]="!isFocus">
      <div class="suggest" *ngFor="let content of searchSuggestList">
        <div class="suggest-content" *ngIf="content.list.length>0">
          <div class="content-title">
            <free-icon icon="{{content.icon}}"></free-icon>
            {{content.name}}
          </div>
          <div class="content-val" >
            <ul class="list" *ngFor="let item of content.list">
              <li class="list-item text-truncate" (click)="toSearchResult(content.key,item)">
                <span class="item-name">{{item.name}}</span>
                <i class="item-tip" *ngIf="content.key=='albums'">/{{item.artist.name}}</i>
                <span class="item-tip" *ngIf="content.key=='songs'">/
                  <i *ngFor="let artistItem of item.artists">
                    {{artistItem.name}}
                  </i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-right">

    <ul class="button-group clearfix">
      <el-tooltip  placement="bottom">
        <li class="button-item" [routerLink]="['/index']">
          <free-icon icon="home"></free-icon>
          <!--<span>返回主页</span>-->
        </li>
        <ng-template #tip>
          <span>返回主页</span>
        </ng-template>
      </el-tooltip>
      <el-tooltip  placement="bottom">
        <li class="button-item" (click)="fullScreen(!isFullScreen)">
          <free-icon icon="expand"></free-icon>
          <!--<span>返回主页</span>-->
        </li>
        <ng-template #tip>
          <span>全屏</span>
        </ng-template>
      </el-tooltip>
      <el-tooltip  placement="bottom">
        <li class="button-item" (click)="clearUserCookie()">
          <free-icon icon="sign-out"></free-icon>
          <!--<span>返回主页</span>-->
        </li>
        <ng-template #tip>
          <span>退出登录</span>
        </ng-template>
      </el-tooltip>
    </ul>
  </div>
</div>
