@charset "utf-8";
.global-header{
  position: fixed;
  box-shadow: 0px 10px 20px rgba(0,0,0,.01);
  top: 0;
  left: 230px;
  right: 0;
  background-color: white;
  height:48px;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.05);
  .search{
    padding-left:20px;
    vertical-align: middle;
    position: relative;
    .input-search{
      height: 30px;
      position: relative;
      .input{
        width: 60px;
        transition: all .3s;
        padding-left:10px;
        height:30px;
        line-height:30px;
        font-size: .62rem;
        color: white;
        background-color: #EEEEEE;
        overflow-x: hidden;
        border-radius: 5px;
        &:focus{
          background-color: #31C27C;
          border-radius: 15px;
          width: 250px;
          padding-left:15px;
          &::-webkit-input-placeholder{
            color: white;
          }
          &:-ms-input-placeholder{
            color: white;
          }
        }
      }
      i{
        font-size: .6rem;
        position: absolute;
        right:10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      }
    }
    .search-suggest{
      position: absolute;
      background-color: white;
      top: 40px;
      left: 20px;
      box-shadow: 5px 5px 20px rgba(0,0,0,.1);
      border-radius: 3px;
      width: 240px;
      .suggest-content{
        display: flex;
        .content-title{
          width: 60px;
          text-align: center;
          border-bottom: 1px solid #dedede;
          padding-top: 10px;
          font-size: .82rem;
          color: #2CAE6F;
          font-weight: normal;
          border-right: 1px solid #dedede;
        }
        .content-val{
          width: 180px;
          border-bottom: 1px solid #dedede;
          .list{
            margin: 0;
            padding:0;
            list-style-type:none;
            .list-item{
              font-size: .8rem;
              height:30px;
              line-height:30px;
              padding-left: 10px;
              cursor: pointer;
              &:hover{
                background-color: #2CAE6F;
                color: white;
              }
              .item-tip{
                font-style: normal;
                font-size: .6rem;
                color: #999;
                i{
                  font-style: normal;
                }
              }
            }
          }
        }
      }
      .suggest-content:nth-child(2n){
        .content-val{
          background-color: #E2E4E6;
        }
      }
    }
  }
  .header-right{
    font-weight: 300;
    padding-right:25px;
    padding-top: 5px;
    .button-group{
      list-style:none;
      margin: 0;
      padding: 0;
      .button-item{
        float: left;
        width:35px;
        height: 35px;
        line-height:35px;
        border:1px solid rgba(0,0,0,.08);
        text-align: center;
        font-size: 20px;
        color: #666666;
        cursor: pointer;
        font-weight: 100;
        background-color: white;
        margin-left: 5px;
        box-shadow: 2px 3px 5px rgba(0,0,0,.04);
        border-radius: 30%;
        transition:all .3s;
        &:hover{
          transform: scale(1.1);
          color: #31C27C;
        }
      }
    }
  }
}
