<div class="content-media free-iscroll">
  <div class="media-banner">

    <el-carousel height="320px">
      <el-carousel-item *ngFor="let item of banners;let i = index;" [label]="item.typeTitle" interval="5000" >
        <div class="small">
          <img src="{{item.pic}}" alt="">
        </div>
      </el-carousel-item>
    </el-carousel>

  </div>
  <div class="media-body" >
    <!--每日推荐-->
    <div class="media-day">
      <div class="media-header">
        <h3>每日推荐</h3>
      </div>
      <div class="media-content">
        <!--每日歌单-->
        <div class="media-paylist">
          <ul class="media-list clearfix">
            <li class="media-item date-item">
              <div class="date">
                <p>星期二</p>
                <h3>24</h3>
              </div>
            </li>
            <li class="media-item" *ngFor="let item of topPlayListArr">
              <div class="item-inner">
                <div class="item-header">
                  <img class="item-bg" #img [src]="item.picUrl" alt="">
                  <div class="hover-cover">
                    <img src="/assets/image/ic_play.png" alt="">
                  </div>
                </div>
                <a href="#" class="item-text text-truncate">{{item.name}}</a>
              </div>
            </li>
          </ul>
        </div>
        <!--每日歌曲-->
        <div class="media-song">
          <ul class="media-list clearfix">
            <li class="media-item" *ngFor="let item of topSongList">
              <div class="media-left">
                <img [src]="item.blurPicUrl" alt="">
              </div>
              <div class="media-right">
                <a href="#">{{item.name}}</a>
                <p>{{item.artistsName}}</p>
                <div class="album-name text-truncate">{{item.alName}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--每日推荐-->
    <!--推荐歌单-->
    <div class="media" [el-loading]="isLoading[0]"  [text]="'拼命加载中'">
      <div class="media-header">
        <h4 class="media-title">
          <free-icon icon="fire" style="color: darkred;"></free-icon> 热门歌单</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon>
        </a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <li class="content" *ngFor="let item of songList">
            <a [routerLink]="['/list',item.id]" class="content-inner">
              <img  [src]="item.picUrl" alt="{{item.name}}" #img (error)="updateUrl(img)">
              <div class="content-hover">
                <i class="cover-play"></i>
                <p>
                  {{item.copywriter}}
                </p>
              </div>
            </a>
            <div class="content-desc">
              <a [routerLink]="['/list',item.id]" >
                {{item.name}}
              </a>
              <div class="content-footer">
                <p>收藏:<span class="badeg">{{item.playCount | number:'1.0-0'}} </span></p>
                <p>数目:<span class="badeg">{{item.trackCount}} </span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--推荐歌单-->
    <!--最新音乐-->
    <div class="media newMusic"  [el-loading]="isLoading[1]"  [text]="'拼命加载中'">
      <div class="media-header">
        <h4 class="media-title"><free-icon icon="flag" style="color:#31C27C;"></free-icon> 最新音乐</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon></a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <li class="content" *ngFor="let item of newSongList;let i = index;"  (click)="playSong(i)">
            <a class="content-inner">
              <img src="{{item.blurPicUrl}}"  #img (error)="updateUrl(img)" alt="">
              <div class="content-hover">
                <i class="cover-play"></i>
                <!--<free-icon icon="play-circle"></free-icon>-->
                <div class="name">
                  <h3 class="artists-name">
                    {{item.artistsName}}
                  </h3>
                  <p class="song-name">
                    {{item.name}}
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--最新音乐-->
    <!--排行榜-->
    <div class="media media-charts">
      <div class="media-header">
        <h4 class="media-title"><free-icon icon="feed" style="color:#31C27C;"></free-icon> 排行榜</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon></a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <!--topList-->
          <li class="content" *ngFor="let item of topList;let index = index">
            <a class="content-info" (click)="getTopListId(index)">
              <img  #img (error)="updateUrl(img)" src="{{item.picUrl}}" alt="">
              <div class="content-hover">
                <!--<free-icon icon="play-circle"></free-icon>-->
                <p class="name">
                  {{item.name}}
                  <free-icon icon="arrow-circle-right"></free-icon>
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--排行榜-->
  </div>
</div>

