@charset "utf-8";
.content-media {
  height: 815px;
  overflow-y: auto;
  .media-banner {
    //padding:0 50px;
    //height: 28px;
    padding: 10px 20px;
    img {
      max-width: 100%;
      width: 100%;
      height: 340px;
    }
  }
  .media-body {
    .media {
      margin-bottom: 10px;
      background-color: white;
      box-shadow: 0 3px 10px rgba(0,0,0,.02);
      .media-header {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        border-bottom: 2px solid #31C27C;
        .media-title {
          margin: 0;
          float: left;
          font-size: 1rem;
        }
        .more-link {
          color: #333;
          float: right;
          transition: all .3s;
          font-size: .85rem;
          &:hover {
            color: #31C27C;
          }
        }
      }
      .media-content {
        background-color: white;
        .content-list {
          padding: 10px 5px 0;
          background-color: rgba(0,0,0,.03);
          list-style: none;
          margin: 0;
          display: block;
          .content {
            float: left;
            width: 1/6*100%;
            padding-left:10px;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 1001;
            height: 280px;
            transition: all .3s;
            .content-inner {
              display: block;
              overflow: hidden;
              font-size: 0;
              text-align: center;
              position: relative;
              img {
                transition: all .3s;
                width: 100%;
                height: 200px;
              }
              .content-hover {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0;
                //z-index: 100;
                transform: translate(-10px);
                font-size: .7rem;
                color: white;
                //background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
                background-color: rgba(0, 0, 0, .2);
                transition: all .3s;
                text-align: left;
                free-icon {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  font-size: 0;
                  transform: translate(-50%, -50%);
                }
                .cover-play{
                  position: absolute;
                  top: 50%;
                  z-index: 100;
                  background: url("../../assets/image/cover_play.png") no-repeat;
                  background-size: 100% 100%;
                  left: 50%;
                  transition: all .3s;
                  opacity: .5;
                  transform: translate(-50%, -50%);
                  display: block;
                  width: 30px;
                  height: 30px;
                }
              }
              &:hover {
                img {
                  filter:blur(3px);
                }
                .content-hover {
                  transform: translateX(0);
                  opacity: 1;
                  .cover-play {
                    opacity:.9;
                    width: 60px;
                    height: 60px;
                  }
                  p {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                  }
                }
              }
            }
            .content-desc {
              padding-top: 3px;
              a {
                color: #333;
                display: block;
                font-size: .75rem;
                height: 30px;
                line-height: 15px;
                overflow: hidden;
                &:hover {
                  color: #31C27C;
                }
              }
              .content-footer {
                p {
                  font-weight: bold;
                  margin: 0;
                  font-size: .8rem;
                  .badeg {
                    display: inline-block;
                    font-size: .7rem;
                    font-weight: 300;
                    background-color: #31C27C;
                    border-radius: 7px;
                    margin-left: 5px;
                    color: white;
                    padding: 0 5px;
                  }
                }
              }
            }
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }
    }
    .newMusic{
      padding-bottom:15px;
      .media-content{
        .content-list{
          .content{
            cursor: pointer;
            width:1/5*100%;
            height: 210px;
            margin-bottom: 10px;
            .content-inner{
              img{
                height: 210px;
              }
              .content-hover{
                padding:10px;
                .cover-play {
                  width: 65px;
                  height: 65px;
                }
                .name{
                  .song-name{
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #31C27C;
                  }
                  .artists-name{
                    font-size: 1rem;
                    color: white;
                    text-align: right;
                    font-weight: normal;
                    margin-right:10px;
                  }
                }
              }
            }
            &:hover{
              .content-inner{
                img{
                  filter:blur(0);
                  transform:scale(1.2) translateX(-10%) translateZ(0);
                }
                .content-hover{
                  .cover-play {
                    opacity:.9;
                    width: 65px;
                    height: 65px;
                  }
                }
              }
            }
            &:nth-child(6n){
              padding-left:0;
            }
          }
        }
      }

    }
    .media-charts{
      .media-content {
        .content-list {
          .content {
            width: 1/5*100%;
            height: 218px;
            text-align: center;
            .content-info{
              overflow: hidden;
              display: block;
              position: relative;
              cursor: pointer;
              img{
                width: 100%;
                height: 218px;
                transition: all .3s;
                display: block;
              }
              .content-hover{
                transition: all .3s;
                z-index: 1000;
                height:30px;
                line-height:30px;
                font-size: 1rem;
                opacity: 0;
                color: white;
                background-color: rgba(0,0,0,.6);
              }
              &:hover{
                img{
                  transform: translateY(-30px);
                }
                .content-hover{
                  opacity: 1;
                  transform: translateY(-30px);
                }

              }
            }
            .content-desc{
              font-weight: bold;
            }
          }
        }
      }
    }

    .media-day{
      background-color: white;
      box-sizing: border-box;
      margin-bottom: 20px;
      //padding-bottom: 20px;
      .media-header{
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        border-left: 2px solid #31C27C;
        border-bottom: 1px solid #dedede;
        //box-shadow: 5px 3px 3px rgba(0,0,0,.1);
        h3{
          margin: 0;
        }
      }
      .media-content{

        .media-paylist{
          background-color: rgba(0,0,0,.03);
          .media-list{
            margin: 0;
            padding:3px 5px 0;
            width: 100%;
            list-style:none;
            .media-item{
              display: block;
              float: left;
              width:1/5*100%;
              height: 230px;
              padding-right: 10px;
              box-sizing: border-box;
              .item-inner{
                box-shadow: 5px 3px 6px rgba(0,0,0,.03);
                width: 100%;
                height: 230px;
                display: block;
                background-color: white;
                font-size: 0;
                overflow: hidden;
                .item-header{
                  position: relative;
                  cursor: pointer;
                  padding:5px;
                  box-sizing: border-box;
                  .item-bg{
                    width: 100%;
                    height: 190px;
                  }
                  .hover-cover{
                    position: absolute;
                    right: 10px;
                    bottom:10px;
                    color: white;
                    opacity: 0;
                    font-size: 35px;
                    transition: all .3s;
                  }
                  &:hover{
                    .hover-cover{
                      opacity:1;
                    }
                  }
                }
                .item-text{
                  display: block;
                  height: 30px;
                  font-size: 13px;
                  font-weight: normal;
                  padding-left: 10px;
                  box-sizing: border-box;
                  color: #000;
                  &:hover{
                    color: #31C27C;
                  }
                }
              }
            }
            .date-item{
              .date{
                border:1px solid #EEEEEE;
                border-radius: 2px;
                width: 100%;
                height: 100%;
                background-color: white;
                text-align: center;
                box-sizing: border-box;
                padding-top: 82px;
                p{
                  display: block;
                  margin:0;
                  font-size: 21px;
                }
                h3{
                  margin: 0;
                  font-size: 40px;
                  font-weight: bold;
                  color: #31C27C;
                }
              }
            }
          }
        }
      }
    }
  }
}
