<div class="content-media free-iscroll">
  <div class="media-banner">

    <el-carousel height="320px">
      <el-carousel-item *ngFor="let item of bannerUrls;let i = index;">
        <div class="small">
          <img src="{{item}}" alt="">
        </div>
      </el-carousel-item>
    </el-carousel>

  </div>
  <div class="media-body">
    <!--推荐歌单-->
    <div class="media">
      <div class="media-header">
        <h4 class="media-title">
          <free-icon icon="fire" style="color: darkred;"></free-icon> 热门歌单</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon>
        </a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <li class="content" *ngFor="let item of songList">
            <a [routerLink]="['/list',item.id]" class="content-inner">
              <img  [src]="item.picUrl" alt="{{item.name}}" #img (error)="updateUrl(img)">
              <div class="content-hover">
                <free-icon icon="play-circle"></free-icon>
                <p>
                  {{item.copywriter}}
                </p>

              </div>
            </a>
            <div class="content-desc">
              <a [routerLink]="['/list',item.id]" >
                {{item.name}}
              </a>
              <div class="content-footer">
                <p>收藏:<span class="badeg">{{item.playCount | number:'1.0-0'}} </span></p>
                <p>数目:<span class="badeg">{{item.trackCount}} </span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--推荐歌单-->
    <!--最新音乐-->
    <div class="media newMusic">
      <div class="media-header">
        <h4 class="media-title"><free-icon icon="flag" style="color:#31C27C;"></free-icon> 最新音乐</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon></a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <li class="content" *ngFor="let item of newSongList;let i = index;"  (click)="playSong(i)">
            <a class="content-inner">
              <img src="{{item.blurPicUrl}}"  #img (error)="updateUrl(img)" alt="">
              <div class="content-hover">
                <free-icon icon="play-circle"></free-icon>
                <div class="name">
                  <h3 class="artists-name">
                    {{item.artistsName}}
                  </h3>
                  <p class="song-name">
                    {{item.name}}
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--最新音乐-->
    <!--排行榜-->
    <div class="media media-charts">
      <div class="media-header">
        <h4 class="media-title"><free-icon icon="feed" style="color:#31C27C;"></free-icon> 排行榜</h4>
        <a href="#" class="more-link">更多 <free-icon icon="caret-square-o-down"></free-icon></a>
      </div>
      <div class="media-content">
        <ul class="content-list clearfix">
          <!--topList-->
          <li class="content" *ngFor="let item of topList">
            <a href="#" class="content-info">
              <img  #img (error)="updateUrl(img)" src="{{item.picUrl}}" alt="">
              <div class="content-hover">
                <!--<free-icon icon="play-circle"></free-icon>-->
                <p class="name">
                  {{item.name}}
                  <free-icon icon="arrow-circle-right"></free-icon>
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--排行榜-->
  </div>
</div>

