@charset "utf-8";
ul,li{
  list-style:none;
  padding: 0;
  margin: 0;
}
.global-media{
  height: 815px;
  overflow-y: auto;
  .media-header{
    padding-left:20px;
    box-sizing: border-box;
    .title{
      font-size: 1rem;
      font-weight: bold;
      color: #32C27C;
    }
  }
  .media-body{
    background-color: white;
    padding:20px 15px 0;
    .media-list{
      .media-item{
        width:1/4*100%;
        float: left;
        box-shadow: 5px 5px 5px rgba(0,0,0,.1);
        padding:10px 15px;
        box-sizing: border-box;
        border-top:1px solid rgba(0,0,0,.05);
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        border-radius: 5px;
        .item-left{
          text-align: center;
          cursor: pointer;
          width: 50%;
          img{
            width: 110px;
            height: 110px;
          }
          &:hover{
            opacity:.8;
          }
        }
        .item-right{
          width: 50%;
          padding-left: 10px;
          box-sizing: border-box;
          position: relative;
          >a{
            font-size: .75rem;
            display: block;
            font-weight:normal;
            color: #222;
            margin:5px 0;
            transition: all .3s;
            &:hover{
              color: #31C27C;
            }
          }
          .alias-name{
            margin:5px 0 0 0;
            font-size: .7rem;
            color: #999;
            font-weight: normal;
          }
          .music-size{
            position: absolute;
            bottom: 25px;
            left: 10px;
            font-size: .7rem;
            display: block;
          }
        }
      }
      .hide{
        display: none;
      }
    }
    .loading{
      height: 40px;
    }
    .tip{
      font-size: .7rem;
      height:35px;
      line-height:35px;
      text-align: center;
      background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.05));
    }
  }
}
