@charset "utf-8";
ul,li{
  list-style:none;
  padding: 0;
  margin: 0;
}
.global-media{
  height: 815px;
  overflow-y: auto;
  .media-header{
    padding-left:20px;
    box-sizing: border-box;
    .title{
      font-size: 1rem;
      font-weight: bold;
      color: #32C27C;
    }
  }
  .media-body{
    background-color: white;
    padding:20px 15px;
    .media-list{
      .media-item{
        width:1/6*100%;
        float: left;
        margin-bottom: 20px;
        .item-heading{
          text-align: center;
          cursor: pointer;
          img{
            width: 80%;
            height: 140px;
            transition: all .2s;
          }
          &:hover{
            opacity:.8;
            img{
              border-radius: 15px;
            }
          }
        }
        .item-content{
          text-align: center;
          >a{
            font-size: .8rem;
            display: block;
            font-weight:normal;
            color: #222;
            margin:5px 0;
            transition: all .3s;
          }
          &:hover{
            >a{
              color: #31C27C;
            }
          }
        }
      }
    }
  }
}
