<div class="global-media">
  <div class="media-header">
    <h3 class="title">热门歌手</h3>
  </div>
  <div class="media-body">
    <ul class="media-list">
      <li class="media-item clearfix">
        <div class="item-heading">
          <!--(load)="imgLoad(headImg,item.picUrl)"-->
          <img #headImg [src]="defaultSrc"  alt="" >
        </div>
        <div class="item-content">
          <a href="#" class="text-truncate">周杰伦 / Jay Chou</a>
        </div>
      </li>

    </ul>
  </div>
</div>
