@charset "utf-8";
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-media{
  height: 815px;
  overflow-y: auto;
  overflow-x: hidden;
}
.media-header{
  background-color: #F5F5F5;
  padding:15px 25px 25px 25px;
  .media-inner{
    display: block;
    float: left;
    font-size: 0;
    img{
      width: 170px;
      height: 165px;
    }
  }
  .media-notice{
    display: block;
    float: left;
    vertical-align: top;
    padding-left:12px;
    .media-title{
      font-weight: normal;
      font-size: 1.4rem;
      margin:0 0 5px 0;
      i{
        font-style: normal;
        font-size: .95rem;
        color: #888;
      }
    }
    .media-desc{
      height: 90px;
      width: 800px;
      font-size: .65rem;
      margin: 0;
      line-height: 22px;
      overflow-y: auto;
    }
  }
}
.media-body{
  background-color: white;
  .tabs-group{
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
    .tabs-header{
      border-bottom: 1px solid #F5F5F5;
      height: 50px;
      line-height: 50px;
      .tabs-title-list{
        width: 100%;
        .title-item{
          float: left;
          padding:0 15px;
          height:50px;
          text-align: center;
          font-size: .8rem;
          font-weight: normal;
          cursor: pointer;
          transition: all .2s;
          position: relative;
          .badeg{
            font-style: normal;
            font-size: .5rem;
            background-color: #31C27C;
            padding:0 2px;
            color: white;
            border-radius: 5px;
          }
          &:hover{
            color: #30BC78;
          }
        }
        .tabs-active{
          border-bottom: 2px solid #31C27C;
        }
      }
    }
    .tabs-content{
      .tabs-content-list{
        >li{
          width: 100%;
          display: block;
          border-bottom: 1px solid #F5F5F5;
          >span{
            display: block;
            float: left;
            height: 35px;
            line-height:35px;
            overflow: hidden;
            font-size: .75rem;
            font-weight: normal;
            color: #333;
            padding-right: 5px;
            box-sizing: border-box;
            strong{
              width: 100%;
              display: block;
              cursor: default;
              font-weight: normal;
              box-sizing: content-box;
              transition: all .1s;
              padding-left: 10px;
              padding-right: 10px;
              &:hover{
                color: #31C27C;
              }
            }
            &:first-child{
              width: 40%;
            }
            &:nth-child(2){
              width: 30%;
            }
            &:nth-child(3){
              width: 20%;
            }
            &:last-child{
              width: 10%;
              text-align: center;
            }
          }
        }
        .list-item{
          &:hover{
            background-color: #F2F2F2;
          }
        }
        .list-title{
          span{
            font-weight: 300;
            font-size: .74rem;

          }
        }
        .null-tip{
          padding:10px 0;
          text-align: center;
          font-size: .8rem;
          font-weight: normal;
        }
        .playing{
          background-color: #F2F2F2;
          border-left: 2px solid #31C27C;
          span{
            color: #31C27C;
            strong{
              padding-left: 15px;
            }
          }
        }
      }
      .tabs-album-list{
        padding-top:20px;
        padding-bottom: 10px;
        position: relative;
        .list-item{
          width:1/5*100%;
          float: left;
          margin-bottom: 21px;
          box-sizing: border-box;
          padding:0 15px;
          .item-heading{
            text-align: center;
            img{
              width: 100%;
              height: 170px;
              cursor: pointer;
            }
            &:hover{
              img{
                opacity: 0.9;
              }
            }
          }
          .item-content{
            text-align: left;
            padding-left:5px;
            p{
              color: #000;
              font-size: .8rem;
              cursor: pointer;
              font-weight: normal;
              margin:0;
              &:hover{
                color: #31C27C;
              }
            }
            >span{
              margin-top: 5px;
              display: block;
              font-weight: normal;
              font-size: .75rem;
              color: #999;
            }
          }
        }
        .page-item{
          position: absolute;
          bottom: 10px;
          margin: 0 auto;
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
          right: 0;
          display: flex;
          justify-content: center;
        }
        .null-tip{
          padding:10px 0;
          text-align: center;
          font-size: .8rem;
          font-weight: normal;
        }
      }
      .introduction{
        padding:20px 0 10px;
        .singer,.list-item{
          .item-title{
            height:30px;
            line-height:30px;
            margin: 0;
            font-size: 1.2rem;
            font-weight: normal;
            &::before{
              content: '';
              width: 5px;
              height: 30px;
              display: inline-block;
              background-color: #31C27C;
              vertical-align: top;
            }
          }
          p{
            font-size: .8rem;
            line-height:25px;
            color: #888;
            margin: 0;
          }
        }
        .singer{
          margin-bottom: 20px;
        }
      }
    }
  }
  .tip{
    font-size: .7rem;
    height:35px;
    line-height:35px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.05));
  }
}
