@charset "utf-8";
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-media{
  height: 815px;
  overflow-y: auto;
  overflow-x: hidden;
}
.media-header{
  background-color: #F5F5F5;
  padding:15px 25px 25px 25px;
  .media-inner{
    display: block;
    float: left;
    img{
      width: 145px;
      height: 150px;
    }
  }
  .media-notice{
    display: block;
    float: left;
    vertical-align: top;
    padding-left:20px;
    .media-title{
      font-weight: bold;
      font-size: 1.8rem;
      margin:0 0 5px 0;
    }
    .media-artist{
      height: 35px;
      line-height:35px;
      font-size: .85rem;
      font-weight: normal;
      .nickname{
        float: left;
        height: 30px;
        line-height:35px;
        img{
          border-radius: 50%;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
      .tags-list{
        float: left;
        margin: 0 0 0 20px;
        padding: 0;
        list-style:none;
        li{
          font-size: .65rem;
          font-weight: normal;
          margin-right: 2px;
          float: left;
        }
      }

    }
    .media-desc{
      height: 30px;
      width: 800px;
      font-size: .65rem;
      margin: 0;
      line-height: 30px;
    }
    .button-group{

    }
  }
}
.media-body{
  background-color: white;
  .tabs-group{
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
    .tabs-header{
      border-bottom: 1px solid #F5F5F5;
      height: 50px;
      line-height: 50px;
      .tabs-title-list{
        width: 100%;
        .title-item{
          float: left;
          padding:0 15px;
          height:50px;
          text-align: center;
          font-size: .8rem;
          font-weight: normal;
          cursor: pointer;
          transition: all .2s;
          position: relative;
          .badeg{
            font-style: normal;
            font-size: .5rem;
            background-color: #31C27C;
            padding:0 2px;
            color: white;
            border-radius: 5px;
          }
          &:hover{
            color: #30BC78;
          }
        }
        .tabs-active{
          border-bottom: 2px solid #31C27C;
        }
      }
    }
    .tabs-content{
      .tabs-content-list{
        >li{
          width: 100%;
          display: block;
          border-bottom: 1px solid #F5F5F5;
          >span{
            display: block;
            float: left;
            height: 35px;
            line-height:35px;
            overflow: hidden;
            font-size: .75rem;
            font-weight: normal;
            color: #333;
            box-sizing: border-box;
            padding-right: 10px;
            strong{
              width: 100%;
              display: block;
              cursor: default;
              font-weight: normal;
              box-sizing: content-box;
              transition: all .1s;
              padding-left: 10px;
              box-sizing: border-box;
              padding-right: 10px;
              &:hover{
                color: #31C27C;
              }
            }
            &:first-child{
              width: 50%;
            }
            &:nth-child(2){
              width: 20%;
            }
            &:nth-child(3){
              width: 20%;
            }
            &:last-child{
              width: 10%;
              text-align: center;
            }
          }
        }
        .list-item{
          &:hover{
            background-color: #F2F2F2;
          }
        }
        .list-title{
          span{
            font-weight: 300;
            font-size: .74rem;

          }
        }
        .null-tip{
          padding:10px 0;
          text-align: center;
          font-size: .8rem;
          font-weight: normal;
        }
        .playing{
          background-color: #F2F2F2;
          border-left: 2px solid #31C27C;
          span{
            color: #31C27C;
            strong{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  .tip{
    font-size: .7rem;
    height:35px;
    line-height:35px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.05));
  }
}
