<div class="global-media free-iscroll" [el-loading]="isLoading"  [text]="'拼命加载中'">
  <div class="media-header clearfix">
    <div class="media-inner">
      <img [src]="playListDetail.picUrl" #img  (error)="updateUrl(img)" alt="">
    </div>
    <div class="media-notice">
      <h3 class="media-title">{{playListDetail.name}}</h3>
      <div class="media-artist">
        <div class="nickname">
          <img src="{{playListDetail.avatarUrl}}" alt="">
          <span>{{playListDetail.nickname}}</span>
        </div>
        <ul class="tags-list">
          <li *ngFor="let item of playListDetail.tags">#{{item}}</li>
        </ul>
      </div>
      <p class="media-desc text-truncate">{{playListDetail.desc}}</p>
      <div class="button-group">
        <button fButton theme="success" icon="play-circle" (click)="playAllSong()">播放全部</button>
        <!--heart-->
        <button fButton icon="heart-o">收藏歌单</button>
      </div>
    </div>
  </div>
  <div class="media-body" >
    <div class="tabs-group" *ngIf="listType==1">
      <div class="tabs-header">
        <ul class="tabs-title-list">
          <li class="title-item tabs-active">歌曲 <i class="badeg">{{playListDetail.trackCount}}</i></li>
          <li class="title-item">评论</li>
        </ul>
      </div>
      <div class="tabs-content">
        <ul class="tabs-content-list">
          <li class="list-title clearfix">
            <span>歌曲</span>
            <span>歌手</span>
            <span>专辑</span>
            <span>时长</span>
          </li>
          <li class="list-item clearfix" [hidden]="songList.length<=0" [class.playing]="select == index" *ngFor="let item of songList;let index = index;">
            <span>
             <strong class="text-truncate" (dblclick)="playMusic(index)">{{item.name}}</strong>
            </span>
            <span class="text-truncate">{{item.artistsName}}</span>
            <span class="text-truncate">{{item.alName}}</span>
            <span class="text-truncate">{{item.dt | musicTime}}</span>
          </li>
          <li class="null-tip"  *ngIf="songList.length<=0" >
            歌单为空╮(╯﹏╰）╭........
          </li>
        </ul>
      </div>
    </div>
    <div class="tabs-group"  *ngIf="listType==2">
      <div class="tabs-header">
        <ul class="tabs-title-list">
          <li class="title-item tabs-active">歌曲 <i class="badeg">{{playListDetail.trackCount}}</i></li>
          <li class="title-item">评论</li>
        </ul>
      </div>
      <div class="tabs-content">
        <ul class="tabs-content-list">
          <li class="list-title clearfix">
            <span>歌曲</span>
            <span>歌手</span>
            <span>热度</span>
            <span>时长</span>
          </li>
          <li class="list-item clearfix" [hidden]="songList.length<=0" [class.playing]="select == index" *ngFor="let item of songList;let index = index;">
            <span>
             <strong class="text-truncate" (dblclick)="playMusic(index)">{{item.name}}</strong>
            </span>
            <span class="text-truncate">{{item.artistsName}}</span>
            <span class="text-truncate">{{item.alName}}</span>
            <span class="text-truncate">{{item.dt | musicTime}}</span>
          </li>
          <li class="null-tip"  *ngIf="songList.length<=0" >
            歌单为空╮(╯﹏╰）╭........
          </li>
        </ul>
      </div>
    </div>
    <div class="tip"  *ngIf="songList.length>0">我可是有底线的￣ω￣=</div>
  </div>
</div>
